body {
    padding: 0;
    margin:0;
    background-color: #0E1523;
}

h1 {
    justify-content: center;
    font-family:Bebas Neue;
    text-align: center;
    font-size: 40px;
    color: white;
}

p {
    color:white;
    font-size: 22px;
    text-align: center;
    font-family: Inter;
}

#score p {
    color:white;
    font-size: 22px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    justify-content: center;
}

.header p {
    text-align: center;
    font-size: 22px;
    color: azure;
    font-family: Inter;
}

#response {
    color: white ;
    font-size: 22px;
}

.header img {
    text-align: center;
    justify-content: center;
    width:250px;
}

.game {
    display: flex;
    flex-direction: row;
    width:80%;
    max-width: 1200px;
    gap:50px;
    align-items: center;
    justify-content: center;
    margin:25px auto;
}

.result {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

#response {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#response p {
    text-align: center;
}

#game-wrapper {
    display: flex;
    width:100%;
    gap:50px;
    text-align: center;
}

.game-left, .game-right {
    display: flex;
    background-color: black;
    width:50%;
    align-items: center;
    justify-content: center;
}

.game img {
    width: 400px;
    margin: auto;
}

.response {
    display: flex;
    width:80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.repsonse-wrapper {
    display: flex;
    width:100%;
    text-align: center;
}

button {
    width:200px;
    height:50px;
    background-color: #8ED9AE;
    font-family:Bebas Neue;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media only screen and (max-width: 780px) {
  #game-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.fb-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-family: sans-serif;
  transition: background 0.3s;
}

.fb-button:hover {
  background-color: #145dbf;
}